@model App.Domain.Salon

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Salon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SalonName" class="control-label"></label>
                <input asp-for="SalonName" class="form-control" />
                <span asp-validation-for="SalonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalonAddress" class="control-label"></label>
                <input asp-for="SalonAddress" class="form-control" />
                <span asp-validation-for="SalonAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalonPhone" class="control-label"></label>
                <input asp-for="SalonPhone" class="form-control" />
                <span asp-validation-for="SalonPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalonEmail" class="control-label"></label>
                <input asp-for="SalonEmail" class="form-control" />
                <span asp-validation-for="SalonEmail" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
